<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password - Eduphin</title>
    <link rel="stylesheet" href="/Style/Register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div class="auth-wrapper">

    <!-- LEFT -->
    <div class="credentials-panel signin">
        <h2 class="slide-element">Reset Password</h2>

        <form action="/auth/reset-password" method="POST">

            <input type="hidden" name="token" value="<%= token %>">

            <div class="field-wrapper slide-element">
                <input type="password" name="password" id="newPassword" required placeholder=" ">
                <label>New Password</label>
                <i class="fas fa-lock toggle-password" id="toggleNewPassword"></i>
            </div>

            <div class="field-wrapper slide-element">
                <input type="password" name="confirmPassword" id="confirmPassword" required placeholder=" ">
                <label>Confirm Password</label>
                <i class="fas fa-lock toggle-password" id="toggleConfirmPassword "></i>
            </div>

            <button type="submit" class="submit-button slide-element">
                Update Password
            </button>

            <div class="switch-link slide-element">
                <a href="/login">Back to Login</a>
            </div>

        </form>
    </div>

    <!-- RIGHT -->
    <div class="welcome-section signin">
        <h2 class="slide-element">Almost there 🚀</h2>
        <p class="slide-element">
            Choose a strong password to secure your account.
        </p>
    </div>

</div>

<div class="footer">© 2026 Eduphin All Rights Reserved</div>
<script>
    const toggleNewPassword = document.getElementById("toggleNewPassword");
    const newPassword = document.getElementById("newPassword");

    const toggleConfirmPassword = document.getElementById("toggleConfirmPassword");
    const confirmPassword = document.getElementById("confirmPassword");

    toggleNewPassword.addEventListener("click", function () {
        if (newPassword.type === "password") {
            newPassword.type = "text";
            this.classList.remove("fa-lock");
            this.classList.add("fa-unlock");
        } else {
            newPassword.type = "password";
            this.classList.remove("fa-unlock");
            this.classList.add("fa-lock");
        }
    });

    toggleConfirmPassword.addEventListener("click", function () {
        if (confirmPassword.type === "password") {
            confirmPassword.type = "text";
            this.classList.remove("fa-lock");
            this.classList.add("fa-unlock");
        } else {
            confirmPassword.type = "password";
            this.classList.remove("fa-unlock");
            this.classList.add("fa-lock");
        }
    });
</script>
</body>
</html>