<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Eduphin</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="/Style/style.css">

</head>

<body>

<!-- HEADER -->

<header>

<div class="container nav">

<div class="logo">
<img src="/img/logo.png" alt="logo">

</div>

<nav>

<a href="/App/home" class="nav-btn" >Home</a>
<a href="#" class="nav-btn">Contact Us</a>
<a href="/App/login">
    <button class="btn">Sign In</button>
</a>
<a href="/App/Register">
     <button class="btn">Sign Up</button>
 </a>
</nav>
</div>
</header>

<!-- HERO -->

<section class="hero">

<div class="container hero-content">

<div class="hero-text">

<h1>
<span>Eduphin</span> Adaptive <br> Learning  
for Future <br> Developers
</h1>

 <p>
  Achieve Your Full Potential!
<br> Every step you take today brings you closer to success.
 </p>
<a href="/App/login">
<button class="btn">Start Learning</button>
</a>
</div>

<div class="hero-img">

<img src="/img/EduphinFille.png" alt="student">

</div>

</div>

</section>

<!-- FEATURES -->

<section class="features">

<h2>All-In-One <span style="color:#f4a640;">Cloud Software</span></h2>
<br>
<p>
Eduphin is a smart adaptive learning system designed for programming <br> education, combining personalized learning paths, intelligent <br> assessment, progress analytics, and real-time feedback in one unified <br> platform.
</p>

<div class="feature-container">

<div class="card">
  <div class="icon">
    <i class="feature-icon icon-blue">
      <i class="fas fa-file-lines"></i>
    </i>
  </div>

<h3> <span class="blue">Personalized Learning Paths </span></h3>

<p>
  Adaptive algorithms tailor lessons and coding exercises based on each learner’s level, pace, and performance to ensure efficient skill development in programming.
</p>

</div>

<div class="card">
<div class="icon">
    <i class="feature-icon icon-orange">
      <i class=" fa-solid fa-robot"></i>
    </i>
  </div>
<h3> <span class="blue">Intelligent Chatbot Assistance </span></h3>

<p>
 Offer instant support through an AI-powered chatbot that guides students, answers questions, and provides personalized feedback during their learning journey.
</p>

</div>

<div class="card">
 <div class="icon">
    <i class="feature-icon icon-cryan">
      <i class="fa-solid fa-list-check"></i>
       
    </i>
  </div>
<h3> <span class="blue">Quizzes</span></h3>

<p>
Provide hands-on coding challenges, quizzes, and auto-evaluated tasks that help learners practice and master programming concepts effectively.
</p>

</div>

</div>

</section>
<!-- About -->
 
<section class="what">

<h2> <span class="blue"> What  is</span><span class="orange"> Eduphin?</span></h2>

<p>
Eduphin is an adaptive learning platform designed for programming languages, enabling learners to follow personalized learning paths, access structured course content, complete coding exercises and quizzes, track their progress in real time, and receive intelligent feedback tailored to their performance — all in one smart environment.
</p>
<br>
<br>
<!-- <a href="/App/login"><img src="/uploads/ForStudents.png" alt="ForStudents"></a> -->
 <div class="student-card">
    <img src="/img/ForStudents.png" alt="For Students">

    <h2 class="title">For Students</h2>

    <a href="/App/login" class="btn-signin" >Sign In</a>
</div>
</section>
<!-- SECTION 1 -->

<section class="section">

<div class="section-text">

<h2>

<span class="blue">
Everything You Can Do in a Programming <br> Classroom,
</span>

<span class="orange">
You Can Do with Eduphin
</span>

</h2>

<p>
Eduphin's adaptive learning platform enables learners to follow <br> personalized coding paths, complete interactive programming <br> exercises, take adaptive quizzes, track their progress, and receive <br> intelligent chatbot feedback — all within one secure cloud-based <br> learning environment.
</p>

</div>

<div class="section-img">

<!-- IMAGE PLACE -->
 <img src="/img/StudentClass.png" alt="For Teachers" class="student-img">

</div>

</section>

<!-- SECTION 2 -->

<section class="section reverse">

<div class="section-text">

<h2>

<span class="blue">Assessments,</span> <br>
<span class="orange"> Quizzes,</span>
<span class="blue">Tests</span>

</h2>

<p>

Easily launch live assignments, quizzes, and tests.
Student <br> results are automatically entered in the online gradebook.
</p>

</div>

<div class="section-img">

<!-- IMAGE PLACE -->
<img src="/img/assessment.png" alt="Assessments">
</div>

</section>

<!-- SECTION 3 -->

<section class="section">

<div class="section-text">

<h2>

<span class="blue">One-on-One</span> <br>
<span class="orange">Discussions</span>

</h2>

<p>

Students can interact privately with the intelligent <br> chatbot, receiving instant guidance and personalized <br> support without leaving the learning environment.
</p>

</div>

<div class="section-img">

<!-- IMAGE PLACE -->
<img src="/img/chat.png" alt="Chat">
</div>

</section>

<!-- FOOTER -->

<footer>

<h5>Eduphin | Adaptive Programming Learning Platform</h5>

<p>
Careers | Privacy Policy | Terms & Conditions
</p>

<p>
© 2026 Eduphin. All Rights Reserved.
</p>

</footer>

<script>

const cards = document.querySelectorAll(".card");

/* animation كي نسكرو الصفحة */
cards.forEach(card=>{
card.style.opacity="0";
card.style.transform="translateY(40px)";
card.style.transition="0.6s";
});

window.addEventListener("scroll", () => {

cards.forEach(card => {

const position = card.getBoundingClientRect().top;
const screen = window.innerHeight;

if(position < screen - 100){
card.style.opacity = "1";
card.style.transform = "translateY(0)";
}

});

});

/* تكبير وتصغير الكارد كي نضغط عليها */

cards.forEach(card => {
card.addEventListener("click", () => {
card.classList.toggle("active");
});
});

</script>

</body>

</html>